<a href="https://colab.research.google.com/github/sidinei-ag/machine_learning/blob/main/house_to_rent_decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORT

In [1]:
import pandas as pd
import numpy as np

# LOADING DATASET

In [2]:
df = pd.read_csv('houses_to_rent.csv')

# DESCRIÇÃO DOS DADOS

In [3]:
df.sample(10)

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
2493,2493,1,100,2,3,3,-,acept,furnished,"R$1,200","R$7,650",R$250,R$97,"R$9,197"
5440,5440,1,300,5,3,1,-,acept,not furnished,R$0,"R$10,000",R$0,R$151,"R$10,150"
6074,6074,0,28,1,1,0,-,not acept,furnished,R$0,"R$1,390",R$0,R$18,"R$1,408"
1192,1192,1,99,2,1,1,-,acept,not furnished,R$0,"R$3,650",R$230,R$55,"R$3,935"
5521,5521,1,280,3,3,7,-,acept,not furnished,R$0,"R$8,670",R$450,R$131,"R$9,251"
1332,1332,0,70,3,1,1,1,acept,not furnished,R$650,"R$1,300",R$17,R$17,"R$1,984"
331,331,1,35,1,1,1,17,acept,furnished,"R$1,280","R$4,000",R$200,R$51,"R$5,531"
4925,4925,1,219,4,4,3,21,acept,furnished,"R$2,100","R$6,500",R$890,R$83,"R$9,573"
2416,2416,1,45,1,1,1,1,not acept,furnished,"R$3,000","R$5,520",R$0,R$70,"R$8,590"
2645,2645,1,100,2,2,1,10,acept,furnished,"R$1,300","R$1,979",R$225,R$26,"R$3,530"

In [4]:
# tipo de dados
df.dtypes

Unnamed: 0         int64
city               int64
area               int64
rooms              int64
bathroom           int64
parking spaces     int64
floor             object
animal            object
furniture         object
hoa               object
rent amount       object
property tax      object
fire insurance    object
total             object
dtype: object

In [5]:
# Valores nulos
df.isnull().sum()

Unnamed: 0        0
city              0
area              0
rooms             0
bathroom          0
parking spaces    0
floor             0
animal            0
furniture         0
hoa               0
rent amount       0
property tax      0
fire insurance    0
total             0
dtype: int64

In [8]:
# Dimensão dos dados
print(f'Quantidade de linhas: {df.shape[0]}')
print(f'Quantidade de colunas: {df.shape[1]}')

Quantidade de linhas: 6080
Quantidade de colunas: 14