# IMPORT

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# LOADING DATASET

In [2]:
df = pd.read_csv('Datasets/housing.csv')

# ANÁLISE EXPLORATÓRIA

#### Amostra dos dados

In [3]:
df.sample(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
19163,-122.67,38.33,4.0,8072.0,1606.0,4323.0,1475.0,3.9518,220300.0,<1H OCEAN
14327,-117.16,32.71,5.0,2508.0,827.0,2066.0,761.0,1.3092,325000.0,NEAR OCEAN
4534,-118.21,34.03,45.0,1860.0,472.0,1893.0,456.0,2.6573,141800.0,<1H OCEAN
11732,-120.69,39.12,19.0,1048.0,262.0,493.0,184.0,2.2917,118200.0,INLAND
8742,-118.32,33.82,22.0,2508.0,402.0,1254.0,395.0,7.0935,379500.0,<1H OCEAN
5977,-117.78,34.11,23.0,7079.0,1381.0,3205.0,1327.0,3.0735,212300.0,INLAND
7304,-118.19,33.99,42.0,1429.0,436.0,1537.0,389.0,3.0114,157500.0,<1H OCEAN
19177,-122.67,38.43,17.0,2007.0,400.0,895.0,403.0,3.2813,202700.0,<1H OCEAN
19991,-119.35,36.20,31.0,1783.0,382.0,1266.0,358.0,2.2264,50800.0,INLAND
8650,-118.39,33.86,28.0,3619.0,764.0,1735.0,789.0,6.1404,368400.0,<1H OCEAN

#### Tipos de dados

In [6]:
print(df.dtypes)

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
ocean_proximity        object
dtype: object

#### Verificando a existência de valores Nulos

In [7]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

#### Preenchendo valores nulos