<a href="https://colab.research.google.com/github/sidinei-ag/machine_learning/blob/main/house_to_rent_decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORTAR BIBLIOTECAS

In [ ]:
import pandas as pd
import numpy as np

# CARREGAR DATASET

In [ ]:
url = "https://raw.githubusercontent.com/sidinei-ag/machine_learning/main/Datasets/sao_paulo_prices_2019.csv"
df = pd.read_csv(url)

# ANÁLISE EXPLORATÓRIA DOS DADOS

## Estatística Descritiva

df.describe() para verificar média, mediana, valores mínimos e máximos.

df.info() para identificar tipos de dados e valores nulos.

df.isnull().sum() para contar valores ausentes.

In [ ]:
df.sample(10)

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
4580,1200,437,58,2,1,0,1,0,0,0,0,Limão/São Paulo,rent,apartment,-23.499850,-46.675106
5928,430225,350,63,3,2,1,1,0,0,1,0,Vila Maria/São Paulo,sale,apartment,-23.518056,-46.583873
9695,1400,350,52,2,2,1,1,1,0,0,0,Penha/São Paulo,rent,apartment,-23.511878,-46.522008
9256,8000,2900,391,4,2,1,1,0,0,0,0,República/São Paulo,rent,apartment,-23.546251,-46.643265
12034,215000,405,45,1,1,0,0,1,0,0,0,Brás/São Paulo,sale,apartment,0.000000,0.000000
8354,850000,1063,90,3,2,1,1,0,0,0,0,Consolação/São Paulo,sale,apartment,-23.549297,-46.653856
602,1300,0,65,3,2,1,1,0,0,0,0,Vila Formosa/São Paulo,rent,apartment,-23.575579,-46.529599
3452,9000,2000,266,4,5,4,4,1,0,0,0,Campo Grande/São Paulo,rent,apartment,-23.670116,-46.696669
9596,1300,70,42,2,2,1,1,0,0,0,0,Aricanduva/São Paulo,rent,apartment,-23.536357,-46.536606
3100,1400,0,56,2,1,0,1,0,0,0,0,Itaquera/São Paulo,rent,apartment,-23.546631,-46.447926

In [ ]:
# tipo de dados
df.dtypes

Price                 int64
Condo                 int64
Size                  int64
Rooms                 int64
Toilets               int64
Suites                int64
Parking               int64
Elevator              int64
Furnished             int64
Swimming Pool         int64
New                   int64
District             object
Negotiation Type     object
Property Type        object
Latitude            float64
Longitude           float64
dtype: object

In [ ]:
# Valores nulos
df.isnull().sum()

Price               0
Condo               0
Size                0
Rooms               0
Toilets             0
Suites              0
Parking             0
Elevator            0
Furnished           0
Swimming Pool       0
New                 0
District            0
Negotiation Type    0
Property Type       0
Latitude            0
Longitude           0
dtype: int64

In [ ]:
# Dimensão dos dados
print(f'Quantidade de linhas: {df.shape[0]}')
print(f'Quantidade de colunas: {df.shape[1]}')

Quantidade de linhas: 13640
Quantidade de colunas: 16

## Distribuição da variável target

Histograma: sns.histplot(df['preco'], kde=True) para ver a distribuição dos preços.

Boxplot: sns.boxplot(x=df['preco']) para identificar outliers.

Teste de normalidade (Shapiro-Wilk, Kolmogorov-Smirnov).

# ANÁLISE GRÁFICA DE FEATURES

## Relação entre preço e variáveis numéricas

Gráficos de dispersão (sns.scatterplot): analisar a relação entre preço e variáveis como metragem, número de quartos, etc.

Correlação (df.corr(), sns.heatmap): verificar multicolinearidade entre variáveis.

Pairplot: sns.pairplot(df) para observar relações entre múltiplas variáveis.

## Variáveis categóricas

Boxplot (sns.boxplot(x='bairro', y='preco', data=df)) para ver como diferentes categorias afetam o preço.

Contagem de categorias (df['bairro'].value_counts().plot(kind='bar')).

# DETECÇÃO E TRATAMENTO DE PROBLEMAS

## Outliers

Identificar outliers em variáveis contínuas usando boxplots.

Método do IQR (Intervalo Interquartil).

## Valores ausentes

Identificar colunas com muitos valores nulos e decidir entre imputação ou remoção.

## Heterocedasticidade

Verificar se a variância dos resíduos aumenta com o preço usando sns.residplot(x=predicoes, y=residuos).

Transformação logarítmica pode ajudar (df['preco'] = np.log(df['preco'])).

## Multicolinearidade

Matriz de correlação (sns.heatmap(df.corr(), annot=True)).

Fator de Inflação da Variância (VIF) para identificar variáveis redundantes.

## Engenharia de Features

Criar novas variáveis, como preço por metro quadrado.

Transformações de escala (padronização ou normalização) para variáveis contínuas.